<!-- index.html -->
{% extends 'base.html' %}

{% block title %}Enter YouTube Video or Playlist URL{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="box">
                <h1 class="title">
                    <!-- <span class="icon is-large"><i class="fab fa-youtube"></i></span> -->
                    Create a book from video transcripts
                </h1>
                <form method="post" id="processForm">
                    <div class="field has-icons-left" id="inputContainer">
                        <input class="input" type="text" name="book_title" placeholder="Book title">
                        <div class="control has-icons-left">
                            <input class="input" type="text" name="video_url" oninput="validateUrl()" placeholder="Enter URL of YouTube video or playlist ( youtube.com/... or youtu.be/...)">
                            <br>
                            <span class="icon is-small is-left">
                                <i class="fas fa-link"></i>
                            </span>
                            <!-- <textarea class="textbox" type="textbox" name="prompt" rows="7" cols="100">
Be a book reviewer and text editor to organize the following video transcript as chapters of a book.
- Use markdown to write the text.
- Modify the text to make it more clear.
- Add commas and period when necessary.
- Remove repeated words.
- Include sub-headers when appropriate in the chapter.
- Keep the original language of the text.
                            </textarea> -->
                            <textarea class="textbox" type="textbox" name="prompt" rows="7" cols="100">
    Haja como um editor de livros para organizar essa transcrição de video de uma playlist do YouTube como um capítulo de livro.
    - Adicione pontuação quando necessário.
    - Não resuma o texto.
    - Substitua referências a videos por capítulos, e inscritos por leitores.
    - Use markdown para escrever o texto.
    - Mantenha a língua original, português.
                            </textarea>
                        </div>
                    </div>

                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}

                    <!--
                    <div class="checkbox-group">
                        <label>
                            <input type="checkbox" name="keep_chapters" value="yes">
                            Keep each video as a chapter
                        </label>
                        <br />
                        <label>
                            <input type="checkbox" name="create_pictures" value="yes">
                            Create pictures
                        </label>
                    </div>
                    -->
                    
                    <div class="level">
                        <div class="level-item">
                            <div class="field">
                                <div class="control">
                                    <input class="button is-danger is-medium" type="submit" value="Create Book">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="loader" style="display:none;"></div>
    
                    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
                </form>
                {% if error %}
                    <p class="help is-danger">{{ error }}</p>
                {% endif %}

                

            </div>
        </div>
    </div>
{% endblock %}
